# 자료구조란

-   **여러 개의 값들을 모아서 관리**하는 데이터 타입.
    -   한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 관리해야 할 경우가 있다.
    -   하나의 값이 여러개의 값들로 구성된 경우
        -   한명의 고객 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다.
        -   한 반의 학생들의 이름들은 여러개의 이름들로 구성된다.
-   파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    -   **List:** 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    -   **Tuple:** 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    -   **Dictionary:** key-value 형태로 값들을 저장해 관리한다.
    -   **Set:** 중복을 허용하지 않고 값들의 순서가 없다.
-   **원소, 성분, 요소, element**
    -   자료구조의 값들을 구성하는 개별 값들을 말한다.
    -   len(자료구조) 함수
        -   자료구조 내의 원소의 개수를 반환한다.

# List (리스트)

-   값들을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    -   각각의 원소가 어떤 값인지를 index(순번)을 가지고 식별하기 때문에 **순서가 있고 그 순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
-   각각의 원소들은 index를 이용해 식별한다.
    -   index는 문자열과 마찮가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    -   양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
    -   **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
-   중복된 값들을 저장할 수 있다.
-   각 원소들의 데이터 타입은 달라도 상관없다.
    -   보통은 같은 타입의 데이터를 모은다.
-   리스트를 구성하는 **원소들을 변경할 수 있다.** (추가, 삭제, 변경이 가능)
    -   원소 변경 여부가 List와 Tuple의 차이이다.

## List 생성 구문

```python
[값, 값, 값, ..]
```

In [43]:
l = [ 1, 10, 100, 1000 ]

In [44]:
l2 = ["홍길동", 20, "서울", 182.2, True, False, ["독서", "음악감상"]]  # 서로 다른 타입도 넣을 수 있음.
len(l2)

7

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing

-   하나의 원소를 조회하거나 변경할 때 사용
-   리스트\[index\]
    -   index의 원소를 조회
-   리스트\[index\] = 값
    -   index의 원소를 변경

### Slicing

-   범위로 조회하거나 그 범위의 값들을 변경한다.
-   기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    -   시작 index ~ (종료 index – 1)
    -   간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
-   **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    -   리스트 \[ : 5\] => 0 ~ 4 까지 조회
-   **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    -   리스트\[2 : \] => 2번 index 에서 끝까지
-   **명시적으로 간격을 줄 경우**
    -   리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    -   리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
-   **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    -   리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    -   리스트\[: : -1\] => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경

-   slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    -   `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [45]:
# indexing
 
l[0]

1

In [46]:
# 변경
l[0] = 500
l

[500, 10, 100, 1000]

In [47]:
l3 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#slicing
l3[3:7] # 3 ~ 7-1
l3[:7] # 시작 생략
l3[7:] # 끝 생략: 끝까지

[80, 90, 100]

In [48]:
l3[::3]

[10, 40, 70, 100]

In [49]:
l3[::-1]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [50]:
l3[:3] = 1000, 2000, 3000
l3

[1000, 2000, 3000, 40, 50, 60, 70, 80, 90, 100]

## List 연산자

-   **리스트 + 리스트**
    -   두 리스트의 원소들을 합친 리스트를 반환한다.
-   **리스트 \* 정수**
    -   같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.
-   **in, not in 연산자**
    -   값 in 리스트
        -   리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in 리스트
        -   리스트의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(리스트)**
    -   리스트 내의 원소수를 반환.

In [51]:
a = [10, 20, 30]
b = ["가", "나", "다", "라"]

In [52]:
c = a + b
c

[10, 20, 30, '가', '나', '다', '라']

In [53]:
len(c)

7

In [54]:
d = a * 3  # a + a + a
d

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [55]:
20 in d  # d가 20을 가지고 있는지 여부

True

In [56]:
1000 in d

False

In [57]:
20 not in d

False

## 중첩 리스트 (Nested List)

-   List가 원소로 List를 가지는 것을 말한다.
    -   List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.

In [58]:
l5 = [[1,2,3], [4,5,6]]
len(l5)

2

In [59]:
l5[0]

[1, 2, 3]

In [60]:
l5 [0][0]

1

## List 주요 메소드

| 메소드                       | 설명                                                                                 |
| :--------------------------- | ------------------------------------------------------------------------------------ |
| append(value)                | value를 추가한다.                                                                    |
| extend(List)                 | List의 원소들을 추가한다.                                                            |
| sort(\[reverse=False\])      | 원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.                   |
| insert(index, 삽입할값)      | 지정한 index에 '삽입할값'을 삽입한다.                                                |
| remove(삭제할값)             | '삭제할값' 값과 같은 원소를 삭제한다.                                                |
| index(찾을값\[, 시작index\]) | '찾을값'의 index를 반환한다.                                                         |
| pop(\[index\])               | index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다. |
| count(값)                    | '값'이 리스트의 원소로 몇개 있는지 반환한다.                                         |
| clear()                      | 리스트 안의 모든 원소들을 삭제한다.                                                  |

In [61]:
l. append(2000)  # 리스트 l에 2000을 추가
l

[500, 10, 100, 1000, 2000]

In [62]:
l.extend([1, 2, 3, 4, 5])  # 리스트 l에 넣어 준 리스트가 가진 원소들을 추가.

In [63]:
l.insert(0, "가")  # 리스트에 삽입할 값 추가.
l

['가', 500, 10, 100, 1000, 2000, 1, 2, 3, 4, 5]

In [64]:
#삭제
##값으로 삭제
l.remove(10)
l

['가', 500, 100, 1000, 2000, 1, 2, 3, 4, 5]

In [ ]:
#index로 삭제
l.pop()  # 마지막 index의 값을 삭제하면서 반환.
l.pop(3)

1000

In [67]:
l.clear #안에 있는 원소들 싹 지운다.

In [70]:
l = [4, -20, 1, 100, -50, 72]
# 정렬: 오름차순, 내림차순
l.sort() # 오름차순. 기본이 False

In [73]:
l.sort(reverse=True)  # 내림차순
l

[100, 72, 4, 1, -20, -50]

# Tuple (튜플)

-   List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
-   Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다.
    -   Tuple은 값의 변경되지 않으므로 안전하다.

## Tuple 생성

-   `(value, value, value, ...)`
-   소괄호를 생략할 수 있다.
-   원소가 하나인 Tuple 표현식
    -   `(value,)` 또는 `value,`
        -   값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

In [75]:
t1 = (1, 2, 3, 4, 5)
type(t1)

tuple

In [76]:
t2 = ("가", 100, 20.2, True)
t2

('가', 100, 20.2, True)

In [77]:
t3 = 100, 200, 300, 400, "나"
type(t3)

tuple

In [78]:
t3

(100, 200, 300, 400, '나')

In [80]:
a, b, c = 10, 20, 30  # tuple 대입. 원래 10, 20, 30을 괄호로 묶어야 함.

In [81]:
a, b, c = [10, 20, 30]  # 리스트 대입
print(a, b, c)

10 20 30

In [84]:
t4 = (100)  # 원소가 하나만 있으면 튜플이 아니라 int로 봄
type(t4)

t41 = (100,)  #튜플
type(t41)

tuple

In [85]:
t5 = 100, 
type(t5), len(t5)

(tuple, 1)

## Indexing과 Slicing을 이용한 원소(element) 조회

-   리스트와 동일하다.
-   단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

In [87]:
t1[1:4]
t1[:4]
t1[3:]
t1[::2]
a = t1[::-1]
a

(5, 4, 3, 2, 1)

In [88]:
t1

(1, 2, 3, 4, 5)

## Tuple 연산자

-   **tuple + tuple**
    -   두 tuple의 원소들을 합친 tuple을 반환한다.
-   **tuple \* 정수**
    -   같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.
-   **in, not in 연산자**
    -   값 in tuple
        -   tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in tuple
        -   tuple의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(tuple)**
    -   tuple의 원소 개수 반환

In [91]:
t3 = t1 + t2
t3

(1, 2, 3, 4, 5, '가', 100, 20.2, True)

## Tuple의 주요 메소드

| 메소드                        | 설명                                |
| :---------------------------- | ----------------------------------- |
| index(찾을값 \[, 시작index\]) | '찾을값'이 몇번 index인지 반환한다. |
| count(값)                     | 원소로 '값'이 몇개 있는지 반환한다. |

In [ ]:
t6 = (1, 2, 3, 1, 2, 3, 1, 1, 1, 3)
t6.index(3)  # 가장 앞에 있는 값 3의 위치(index)를 조회

2

In [ ]:
t6.index(3, 4)  # 3의 index를 찾는데 4 index부터 찾기 시작.

5

In [ ]:
t6.count(3)  # 값 3이 몇 개 있는지 조회
t6.count(1)  # 결과: 5
t6.count("a")

0

# Dictionary

-   값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    -   리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    -   서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        -   cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    -   key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    -   key는 중복을 허용하지 않고 value는 중복을 허용한다.

## Dictionary 생성

-   구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    -   키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    -   dict() 함수를 사용할 경우 key는 변수로 정의한다

In [96]:
d1 = {"이름":"홍길동", "나이":20, "주소":"서울"}
d1

{'이름': '홍길동', '나이': 20, '주소': '서울'}

In [97]:
d2 = dict(이름="이순신", 키=190, 나이=20)
d2

{'이름': '이순신', '키': 190, '나이': 20}

In [100]:
d3 = {
    "이름":"홍길동",
    "나이":20,
    "주소":"서울", 
    "취미":["게임", "독서"]
}
d3

{'이름': '홍길동', '나이': 20, '주소': '서울', '취미': ['게임', '독서']}

In [101]:
l = ["이순신", "홍길동", "유관순"]
l[2]

'유관순'

## Dictionary 원소 조회 및 변경

-   조회: index에 key값을 식별자로 지정한다.
    -   dictionary\[ key \]
    -   없는 키로 조회 시 KeyError 발생
-   변경
    -   dictionary\[ key \] = 값
    -   있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [102]:
d3["이름"], d3["나이"]

('홍길동', 20)

In [ ]:
# 변경: 있는 키에 값을 대입
d3["나이"] = 50

In [104]:
d3

{'이름': '홍길동', '나이': 50, '주소': '서울', '취미': ['게임', '독서']}

In [ ]:
# 추가: 없는 키에 값을 대입
d3['키'] = 185.9
d3

{'이름': '홍길동', '나이': 50, '주소': '서울', '취미': ['게임', '독서'], '키': 185.9}

## Dictionary 연산자

-   **in, not in 연산자**
    -   값 in dictionary
        -   dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    -   값 not in dictionary
        -   dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환
-   **len(dictionary)**
    -   dictionary의 **Item의 개수** 반환

In [106]:
"이름" in d3   # d3에 "이름"이라는 key가 있는지 여부

True

In [107]:
"이름" not in d3

False

In [108]:
len(d3)

5

## Dictionary 주요 메소드

| 메소드               | 설명                                                                               |
| :------------------- | ---------------------------------------------------------------------------------- |
| get(key\[, 기본값\]) | key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.         |
| pop(key)             | key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생 |
| clear()              | dictionary의 모든 item들을 삭제한다.                                               |
| del dict\[key\]      | key의 item을 제거한다.                                                             |
| items()              | item의 key, value를 튜플로 묶어 모아 반환한다.                                     |
| keys()               | key값들만 모아 반환한다.                                                           |
| values()             | value값들만 모아 반환한다.                                                         |

In [111]:
d3["몸무게"]  #없는 key로 조회하면 에러 남.

KeyError: '몸무게'

In [110]:
d3.get("이름")   # key로 value를 조회

'홍길동'

In [112]:
d3.get("몸무게")   # 없는 key로 조회하면 기본값(None)을 반환.
d3.get("몸무게", "없는 key")  # (키, 기본값)

'없는 key'

In [113]:
w = d3.get("몸무게", -1)
# w == -1

In [114]:
# 삭제
d3.pop("키")

185.9

In [115]:
d3

{'이름': '홍길동', '나이': 50, '주소': '서울', '취미': ['게임', '독서']}

In [116]:
# 키값들 조회
d3.keys()

dict_keys(['이름', '나이', '주소', '취미'])

In [117]:
# 값들만 조회
d3.values()

dict_values(['홍길동', 50, '서울', ['게임', '독서']])

In [ ]:
# key - value 들을 튜플로 묶어서 반환 (key, value)
d3.items()

dict_items([('이름', '홍길동'), ('나이', 50), ('주소', '서울'), ('취미', ['게임', '독서'])])

# Set

-   Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    -   원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다

## Set 생성

-   구문
    -   {값, 값, 값 }

> -   빈 Dictionary 만들기
>     -   info = {}
>     -   중괄호만 사용하면 빈 set이 아니라 빈 dictionary를 생성하는 것임.

In [221]:
s1 = {1, 2, 3, 4, 5}

# s1[0]  # set은 개별 값을 조회할 수 없다.
# subscriptable type : indexing이 가능한 값들

In [198]:
s2 = { 1, 1, 1, 2, 2, 2, 1, 1, 2, 3, 4, 4, 4, 5, 5, 5, 1, 3, 3}
s2  # 중복된 건 안 넣어줌. 순서 신경 안 씀.

{1, 2, 3, 4, 5}

In [208]:
for v in s2:
    print (v)

1
2
3
4
5

In [ ]:
# list()  -> 다른 자료구조를 list로 변환
l = list(s2)
#l[2]

## Set 연산자

-   **in, not in 연산자**
    -   값 in Set
        -   Set의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in Set
        -   Set의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(Set)**
    -   Set의 **원소의 개수** 반환
-   **[집합연산자](#Set의-집합연산-연산자-및-메소드)**

In [206]:
10 in s2
10 not in s2

True

## Set의 주요 메소드

| 메소드           | 설명                                   |
| ---------------- | -------------------------------------- |
| add(값)          | 집합에 값 추가                         |
| update(자료구조) | 자료구조내의 원소들을 모두 집합에 추가 |
| pop()            | 원소를 반환하고 Set에서 삭제한다.      |
| remove(값)       | 값을 찾아서 Set에서 삭제한다.          |

In [209]:
s2.add(6)
s2

{1, 2, 3, 4, 5, 6}

In [210]:
s2.add(6)

In [212]:
s2.update([1, 1, 1, 7, 8, 8, 8])

In [214]:
a = s2.pop()

In [213]:
s2.remove(7)

## Set의 집합연산 연산자 및 메소드

-   합집합
    -   집합A | 집합B
    -   집합A.union(집합B)
-   교집합
    -   집합A & 집합B
    -   집합A.intersection(집합B)
-   차집합
    -   집합A - 집합B
    -   집합A.difference(집합B)

In [216]:
s10 = {1, 2, 3, 4}
s20 = {3, 4, 5, 6, 7}

In [ ]:
s10 | s20  # 합집합
s10.union(s20)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s10 & s20  # 교집합
s10.intersection(s20)

{3, 4}

In [ ]:
s10 - s20  # 차집합
s10.difference(s20)

{1, 2}

# 자료구조를 이용한 대입

-   리스트, 튜플, 셋의 원소들을 개별 변수에 대입한다. 어느 자료구조에 적용하느냐에 따라 **리스트 대입, 튜플 대입, 셋 대입** 이라고 한다. 이중 리스트대입이나 튜플대입은 많이 사용된다.
-   변수의 개수와 리스트 원소의 개수는 동일해야 한다.

In [ ]:
a, b, c = 10, 20, 30  # tuple 대입
a, b, c = {1, 2, 3}  # set 대입

In [ ]:
a, b, c = ["가", "나", "다"]  # list 대입

In [ ]:
a, b, c = {"k1":"v1", "k2":"v2", "k3":"v3"}

# 자료구조 변환 함수

-   **list(자료구조)**
    -   대상 자료구조/Iterable을 List로 변환한다.
-   **tuple(자료구조)**
    -   대상 자료구조/Iterable을 Tuple로 변환
-   **set(자료구조)**
    -   대상 자료구조/Iterable을 Set으로 변환
    -   다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
-   Dictionary로 변환하는 함수는 없다.
    -   dict(key=value, ..) 는 딕셔너리 생성하는 함수이다.
-   변경 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> -   **Iterable**
>     -   반복가능한 객체.
>     -   여러개의 값을 요청을 받을 때마다 하나씩 제공해주는 타입을 iterable 이라고 함.
>         -   Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>     -   대표적으로 자료구조, 문자열 등이 있다.

In [222]:
list(s1)

[1, 2, 3, 4, 5]

In [223]:
a = "월화수목금토일"
a2 = list(a)
a2

['월', '화', '수', '목', '금', '토', '일']

In [224]:
set(a)

{'금', '목', '수', '월', '일', '토', '화'}

In [225]:
tuple(a)

('월', '화', '수', '목', '금', '토', '일')

In [227]:
"-".join(a2)
", ".join(a2)
"".join(a2)

'월화수목금토일'

In [228]:
s = set()  # 빈셋
s.add(1)

In [229]:
s

{1}

In [ ]:
l = list()  # 빈 리스트
l = []
len(l)

0

In [ ]:
result = []

result.append(1+1)
result.append(10*20)
result.append(100 - 20)

In [232]:
d = {}

In [231]:
bool(l)

False

# TODO

In [ ]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.

In [121]:
# (1)  7번의 점수를 출력하세요
jumsu[6]

80

In [ ]:
# (2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[:5]

[100, 90, 100, 80, 70]

In [ ]:
# (3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu[3:7]

[80, 70, 100, 80]

In [ ]:
# 5, 2, 7번 출력하세요.
jumsu[4], jumsu[1], jumsu[6]

(100, 100, 90)

In [130]:
# (4) 짝수번째 점수를 출력하세요.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [129]:
# (5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [132]:
# (6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [ ]:
#(아직 안 배워서 못푼 문제) (7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
set(jumsu)  # list를 set으로 변환. 변환 시 중복된 값은 하나만 남겨놓는다.

In [ ]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

# (8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.

#내가 푼 것.
# fruits.insert(3, ["사과", "귤"])
# print(fruits)

#강사님.
fruits + ["사과", "귤"] # 새로운 list에 두 리스트들의 원소를 넣어서 반환

fruits.extend(["사과", "귤"])
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [186]:
#오렌지 추가
fruits.append("오렌지")
fruits

['복숭아', '수박', '딸기', '사과', '귤', '오렌지']

In [187]:
# (9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove("복숭아")
print(fruits)

['수박', '딸기', '사과', '귤', '오렌지']

In [193]:
# 문제 10 ~ 15
# (10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..

dic = {"이름":"문지영", "나이":26, "email주소":"mjy6812@naver.com", "취미":"영화감상, 공연관람", "결혼유무":"미혼"}
print(dic)

# 강사님
info = dict(name="문지영", 나이 = 26, email주소 = "mjy@nav", 취미 = ['영화', '공연'], 결혼여부=False) # {'name':'문지영'}
info

{'이름': '문지영', '나이': 26, 'email주소': 'mjy6812@naver.com', '취미': '영화감상, 공연관람', '결혼유무': '미혼'}

{'name': '문지영',
 '나이': 26,
 'email주소': 'mjy@nav',
 '취미': ['영화', '공연'],
 '결혼여부': False}

In [191]:
# (11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
dic['이름']
dic['email주소']

#강사님
print(dic["이름"])
print(dic["email주소"])

문지영
mjy6812@naver.com

In [194]:
# (12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
dic['취미'][6:10]

#강사님
info['취미'][1]

'공연'

In [179]:
# (13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
dic['몸무게'] = '48kg'
dic['키'] = 171
dic

{'이름': '문지영',
 '나이': 26,
 'email주소': 'mjy6812@naver.com',
 '취미': '영화감상, 공연관람',
 '결혼유무': '무',
 '몸무게': '48kg',
 '키': 171}

In [180]:
# (14) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
dic['email주소'] = 'moon@naver.com'
dic

{'이름': '문지영',
 '나이': 26,
 'email주소': 'moon@naver.com',
 '취미': '영화감상, 공연관람',
 '결혼유무': '무',
 '몸무게': '48kg',
 '키': 171}

In [ ]:
# (15) 위 딕셔너리에서 나이를 제거하세요.
dic.pop("나이")  #이건 지우고 반환해줌
dic


# 강사님1
age = dic.pop("나이")

# 강사님2
del dic['취미']  #이것도 지울 수 있는데 반환 안 해줌.