In [7]:
# 10/31(금) 16:20 Todo 문제들

# 데이터 불러오기

- 2022년 주유소들의 일자별 가격 데이터
- https://www.opinet.co.kr/user/opdown/opDownload.do

In [8]:
# 상반기, 하반기 주유소 가격 데이터 조회
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

oil = pd.read_csv('./data/2022년_서울_상반기_일별_가격.csv', encoding='cp949') 
oil2 = pd.read_csv('./data/2022년_서울_하반기_일별_가격.csv', encoding='cp949')

In [9]:
oil.columns

Index(['번호', '지역', '상호', '주소', '기간', '상표', '셀프여부', '고급휘발유', '휘발유', '경유',
       '실내등유'],
      dtype='object')

In [11]:
# 상반기, 하반기 DataFrame 합치기

# 나
result = pd.concat(
    [oil, oil2],
    keys = ['상반기', '하반기']
)
result

# 강사님
df = pd.concat([oil, oil2], ignore_index=True)

In [ ]:
# DataFrame 기본 정보 조회

result.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 164482 entries, ('상반기', np.int64(0)) to ('하반기', np.int64(81792))
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   번호      164482 non-null  object
 1   지역      164482 non-null  object
 2   상호      164482 non-null  object
 3   주소      164482 non-null  object
 4   기간      164482 non-null  int64
 5   상표      164482 non-null  object
 6   셀프여부    164482 non-null  object
 7   고급휘발유   164482 non-null  int64
 8   휘발유     164482 non-null  int64
 9   경유      164482 non-null  int64
 10  실내등유    164482 non-null  int64
dtypes: int64(5), object(6)
memory usage: 17.2+ MB

In [12]:
# 상표 컬럼의 고유값 조회

# 나
result['상표']

# 강사님
df['상표'].unique()
df['상표'].value_counts()
df['상표'].value_counts(normalize=True)

상표
SK에너지     0.293449
현대오일뱅크    0.257481
GS칼텍스     0.245917
S-OIL     0.174864
알뜰주유소     0.021589
자가상표      0.004481
알뜰(ex)    0.002219
Name: proportion, dtype: float64

In [13]:
# 지역 컬럼의 고유값 조회

result['지역']

# 강사님
df['지역'].unique()
df['지역'].value_counts()
df['지역'].value_counts(normalize=True)

지역
서울 강남구     0.074646
서울 강서구     0.071892
서울 송파구     0.068670
서울 서초구     0.068281
서울 영등포구    0.059666
서울 양천구     0.054808
서울 성북구     0.051811
서울 구로구     0.044892
서울 동대문구    0.039968
서울 성동구     0.036515
서울 도봉구     0.036430
서울 은평구     0.035305
서울 노원구     0.033280
서울 서대문구    0.033268
서울 강동구     0.031067
서울 광진구     0.031049
서울 관악구     0.031031
서울 중랑구     0.029626
서울 용산구     0.028192
서울 강북구     0.027115
서울 마포구     0.026599
서울 금천구     0.024726
서울 중구      0.022148
서울 동작구     0.020890
서울 종로구     0.018124
Name: proportion, dtype: float64

> ### str accessor
> - `Series.str.String메소드()`
> - 문자열 타입 Series에 String 메소드들을 사용하여 일괄처리 할 수 있도록 한다.
> - str accessor 메소드 : https://pandas.pydata.org/pandas-docs/stable/reference/series.html#api-series-str

> ### datetime으로 변환
> - `pd.to_datetime(변환할 Series, format="날짜형식")`
> - x 또는 y 축이 날짜 일 경우 datetime 타입으로 처리하는 것이 좋다.
> - format: 년월일의 형식을 strftime 형식문자열로 지정한다. 
>      - [strftime 형식](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)  
> - datetime을 변환하면 날짜만의 기능을 다룰 수 있다.
>     - dt accessor를 이용해 datetime의 속성값들을(년, 월, 일 등) 추출할 수 있다.
>     - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

In [ ]:
result['지역']

상반기  0        서울 강남구
     1        서울 강남구
     2        서울 강남구
     3        서울 강남구
     4        서울 강남구
               ...
하반기  81788    서울 중랑구
     81789    서울 중랑구
     81790    서울 중랑구
     81791    서울 중랑구
     81792    서울 중랑구
Name: 지역, Length: 164482, dtype: object

In [14]:
# 지역 컬럼의 값을 이용하여 "구" 컬럼 생성 (지역에서 구만 추출해서 파생변수컬럼 생성해서 구별로로 집계를 할 수있도록 한다.)

result['구'] = result['지역'].str.split(' ').str[1]
result['구']

# 강사님 방법 1
df['구'] = df['지역'].apply(lambda x : x.split()[1])
df.head()

# 강사님 방법2: str accessor 이용
df['지역'].str.split(expand=True)[1] # expand=True split후 두개 컬럼별로 나눠준다.

0         강남구
1         강남구
2         강남구
3         강남구
4         강남구
         ...
164477    중랑구
164478    중랑구
164479    중랑구
164480    중랑구
164481    중랑구
Name: 1, Length: 164482, dtype: object

In [16]:
# 기간 컬럼을 datetime 타입으로 변경한다.

# 못 풀어서 강사님 답
df['기간'] = pd.to_datetime(df['기간'], format="%Y%m%d")  #Y:년, m:월(2자리), d:일,  H: 시간, M:분, S: 초

In [17]:
df.info

<bound method DataFrame.info of               번호      지역               상호                       주소         기간  \
0       A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640 2022-01-01
1       A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640 2022-01-02
2       A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640 2022-01-03
3       A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640 2022-01-04
4       A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640 2022-01-05
...          ...     ...              ...                      ...        ...
164477  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동) 2022-12-27
164478  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동) 2022-12-28
164479  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동) 2022-12-29
164480  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동) 2022-12-30
164481  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동) 2022-12-31

           상표 셀프여부  고급휘발유   휘발유    경유  실내등유    구
0       SK에너지   셀프   1887  1737  1587     0  강남구
1       SK에너지   셀프   1887  1737  1587     0  강남구
2       SK에너지   셀프   1887  1737  1587     0  강남구
3       SK에너지   셀프   1887  1737  1587     0  강남구
4       SK에너지   셀프   1887  1737  1587     0  강남구
...       ...  ...    ...   ...   ...   ...  ...
164477  GS칼텍스   셀프      0  1525  1745     0  중랑구
164478  GS칼텍스   셀프      0  1525  1720     0  중랑구
164479  GS칼텍스   셀프      0  1525  1720     0  중랑구
164480  GS칼텍스   셀프      0  1515  1715     0  중랑구
164481  GS칼텍스   셀프      0  1515  1715     0  중랑구

[164482 rows x 12 columns]>

In [ ]:
# 기간 컬럼을 이용해 "월", "일", "요일" 컬럼 생성 (dt accessor 이용) (월, 일, 요일 별로 집계할 수있도록 한다.)

In [ ]:
# 요일 - 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일 로 변경

In [ ]:
# 휘발유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 휘발유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 고급휘발유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 고급휘발유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 경유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 경유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 상표별 휘발유 평균가격 조회

In [ ]:
# 상표별 휘발유 평균가격 시각화

In [ ]:
# 셀프주유소와 일반주유소 개수 확인

In [ ]:
# 셀프 여부에 따른 휘발유 평균 가격 비교

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격 평균 비교

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격 평균 비교 시각화

In [ ]:
# 상표별 휘발유 가격의 분포를 boxplot으로 시각화

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격에 대한 분포 확인 - boxplot으로 시각화

In [ ]:
# 구별 휘발유 가격의 평균

In [ ]:
# 평균 가격이 가장 높은 구의 상표별 휘발유 평균가격

In [ ]:
# 월 평균 휘발유 가격

In [ ]:
# 각 구의 월별 평균 휘발유 가격

In [ ]:
# 각 구의 월별 평균가격의 변화추이 시각화

In [ ]:
# 가장 휘발유가격이 비싼 주유소 상위 5 - (같은 주유소가 여러개 나오므로 가장 비싼 가격을 기준으로 집계)

In [ ]:
# 가장 휘발유가격이 저렴한 주유소 상위 5 - (같은 주유소가 여러개 나오므로 가장 비싼 가격을 기준으로 집계)

In [ ]:
# 휘발유 비싼 주유소의 상위 5개의 상호, 주소, 상표, 셀프여부,  조회 - 위에서 조회한 결과에 추가 정보(상표, 셀프여부 등) 조회 (중복제거-drop_duplicates)

In [ ]:
# 휘발유 저렴한 주유소의 상위 5개의 상호, 주소, 상표, 셀프여부,  조회 - 위에서 조회한 결과에 추가 정보(상표, 셀프여부 등) 조회 (중복제거-drop_duplicates)

In [ ]:
# 고급 휘발유를 가장 많이 파는 구 조회

In [ ]:
###############################################################################
# 주유소 가격 데이터를 이용해서 알고 싶은 정보들을 추가 분석해 보세요.
###############################################################################